

.test{
	background-color: red
}

/*General styles for texts*/
p{
	/*Use vw to make text responsive to screen*/
	font-size:2vw;
	font-family: Cambria Serif;
}

.title{
	font-size: 6vw;
}

.brown{
	color: #432B20;
}

.title{
	position: relative;
	/*margin-top: 200px;*/
	margin-top: 10%;
	/*margin-top:auto;
	margin-bottom: auto;*/
	margin-left: auto;
	margin-right: auto;
	/*margin:auto;*/
	padding: 2%;
	text-align: center;
	
	/*Opacity will inherent to child and make the text also transarent, so I use RGB alpha to make transparent background*/
	background-color: rgba(250, 250, 250, 0.5);
}

.introductions{
	position: relative;
	/*position: absolute;*/
	margin: 0 10%;
	padding: 2%;
	/*bottom: 5%;*/
	/*Opacity will inherent to child and make the text also transarent, so I use RGB alpha to make transparent background*/
	background-color: rgba(250, 250, 250, 0.5);

	/*width: 80%;*/
}



/*#slides-container{
	
	width:100%;
	height: 100%;
	overflow: hidden;
}*/


.slide{
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-direction: column;
	position: relative;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

#slide-1{
	/*height:80vh;*/
	background:url("../images/BackgroundImage.jpg") no-repeat center center;
	background-size: cover;	

}

#slide-2{
	background:url("../images/SectionDrawingBackground.png") no-repeat center center;
	background-size: cover;
}